<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/productos.css">
<head>

        <!-- Header se repite en todos los templates -->

<header>

    <img class="logos" src="/../css/img/logofrontal.png" alt="logofrontal">
        
    <hr>

    <nav>
        <ul>
            <li><a href="home.html">Principal</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Productos.html">Productos</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contactanos.html">Contactanos</a></li>
        </ul>
    </nav> 

</header>
        <!-- Header se repite en todos los templates -->

<body >

    <section class="contenido">

        <div class="cajones">
            <img class="ubicacion" src="../css/svg/wp.png" alt="">
            <h5>Whatsapp - Telefono </h5>
            <hr class="div-cajones">
            <hr class="div-cajones">
            <P class="actual">3222269548</P>
        </div>

        <div class="cajones">
            <img class="ubicacion" src="../css/svg/loc.png">
            <h5>Direccion </h5>
            <hr class="div-cajones">
            <hr class="div-cajones">
            <P class="actual">Kra 91 # 131-12</P>
        </div>

        <div class="cajones">
            <img class="ubicacion" src="../css/svg/correo.jpg">
            <h5>Correo Electronico </h5>
            <hr class="div-cajones">
            <hr class="div-cajones">
            <P class="actual">Ojcarvajala@gmail.com</P>
        </div>
    
    </section>

    <hr class="al">
  
    <iframe class="logos" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1447.2874573453562!2d-74.12198208540798!3d4.591921476410917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f992b0b54b4cb%3A0x32af344d4c3d7ddf!2sRestaurante%20Las%20Paisas!5e0!3m2!1sen!2sco!4v1612309456368!5m2!1sen!2sco" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</body>

         <!-- Footer se repite en todos los templates -->   

<footer>
    <section>

        <hr>
        <hr class="al">
    
            <img class="logos" src="../css/img/logofrontal.png" alt="logofrontal">
    </section>
    
    <hr class="al">
    <p class="creditos">Pañalera Carvajal © 2020 Todos los derechos reservados. <a href="Politica reembolso.html"> Politicas de retorno y privacidad</a> | Website designada por Camilo Andrés Garzón Gacharná</p>
</footer>

         <!-- Footer se repite en todos los templates -->   
         
</html>




