<!DOCTYPE html>
<html lang="en">
s
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/productos.css">
<head>

        <!-- Header se repite en todos los templates -->

<header>

    <img class="logos" src="/../css/img/logofrontal.png" alt="logofrontal">
        
    <hr>

    <nav>
        <ul>
            <li><a href="home.html">Principal</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Productos.html">Productos</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contactanos.html">Contactanos</a></li>
        </ul>
    </nav> 

</header>

        <!-- Header se repite en todos los templates -->
<div>
    
    <hr class="al">
    <h3>Atención Personalizada</h3> 

        <section class="contenido">
    
            <div class="cajones">
                <img class="vender" src="../productos/cboy1.jpeg" alt="">
                <h5>Conjunto niño </h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de jean talla 4 y camisa a rallas talla s</p>
                <hr class="div-cajones">
                <p class="anterior">$30.000</p>
                <hr class="div-cajones">
                <P class="actual">$25.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/cboy2.jpeg" alt="">
                <h5>Conjunto niño </h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de jean talla 4 y camisa a rallas talla s</p>
                <hr class="div-cajones">
                <p class="anterior">$30.000</p>
                <hr class="div-cajones">
                <P class="actual">$25.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/cboy3.jpeg" alt="">
                <h5>Conjunto niño </h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de jean talla 4 y camisa a rallas talla s</p>
                <hr class="div-cajones">
                <p class="anterior">$30.000</p>
                <hr class="div-cajones">
                <P class="actual">$25.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/cgirl1.jpeg" alt="">
                <h5>Conjunto niño </h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de jean talla 4 y camisa a rallas talla s</p>
                <hr class="div-cajones">
                <p class="anterior">$30.000</p>
                <hr class="div-cajones">
                <P class="actual">$25.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/cgirl2.jpeg" alt="">
                <h5>Conjunto niño </h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de jean talla 4 y camisa a rallas talla s</p>
                <hr class="div-cajones">
                <p class="anterior">$30.000</p>
                <hr class="div-cajones">
                <P class="actual">$25.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/shoe1.jpeg" alt="">
                <h5>Conjunto niño </h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de jean talla 4 y camisa a rallas talla s</p>
                <hr class="div-cajones">
                <p class="anterior">$30.000</p>
                <hr class="div-cajones">
                <P class="actual">$25.000</P>
            </div>
</div>

<body>

    <hr class="al">

    <section>
        
        <a href="http://google.com" alt="dudas"> <img class="base" src="../css/img/img_a.png" alt="dudas" usemap="#consulta-aqui"> </a>
        
    </section>

    <hr class="al">

    <section>
        <img class="base" src="../css/img/img_b.png" alt="">
    </section>

    <hr class="al">

    <section class="contenido">
        <img id="imagen-izquierda" src="../css/img/img_c.jpg" alt="">
            <div class="separacion">
               <h3>Atención Personalizada</h3> 
               <p>Entendemos las necesidades de tu bebe, por lo que estamos dispuestos a asesorate
                   en todo lo reperente a productos que tu bebe necesita para mantenerse sano.
               </p>
            </div>
    </section>



</body>

         <!-- Footer se repite en todos los templates -->   

<footer>
    <section>

        <hr>
        <hr class="al">
    
            <img class="logos" src="../css/img/logofrontal.png" alt="logofrontal">
    </section>
    
    <hr class="al">
    <p class="creditos">Pañalera Carvajal © 2020 Todos los derechos reservados. <a href="Politica reembolso.html"> Politicas de retorno y privacidad</a> | Website designada por Camilo Andrés Garzón Gacharná</p>

</footer>

         <!-- Footer se repite en todos los templates -->   
         
</html>