<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica_reembolso</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
<head>

        <!-- Header se repite en todos los templates -->
<header>

    <img class="logos" src="/../css/img/logofrontal.png" alt="logofrontal">
        
    <hr>

    <nav>
        <ul>
            <li><a href="../index.html">Principal</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Productos.html">Productos</a></li>
            <li><a href="https://blogdelbebe.com/blog/">Blog</a></li>
            <li><a href="contactanos.html">Contactanos</a></li>
        </ul>
    </nav> 

</header>
        <!-- Header se repite en todos los templates -->

<body >

    <section class="contenido">
    <h1>POLITICA DE REEMBOLSO</h1>

        <p>¡Gracias por comprar en Pañalera Carvajal!</P> <br>

        <p>Ofrecemos reembolso y/o cambio dentro de los primeros 30 días de tu compra. 
        Si han transcurrido 30 días desde tu compra, no se te ofrecerá un reembolso y/o cambio de ningún tipo.</P><br>
        
                
        <p>Tu artículo debe estar sin usar y en las mismas condiciones en que lo recibiste.</P><br>
        
        <p>El artículo debe estar en el embalaje original.</P><br>
        
        <p>Para completar tu devolución, requerimos un recibo o comprobante de compra.</P><br>
               
        <p>Si el artículo en cuestión fue marcado como un regalo cuando fue comprado y se envió directamente a ti, 
        recibirás un crédito de regalo por el valor de tu devolución.</P><br>       
        
        <p>Para cambios, solo reemplazamos los artículos si están defectuosos o dañados. Si necesitas cambiarlo por el mismo artículo, 
        contactanos por los medios mostrados en la pestaña "Contactos" o trae tu artículo a: (Dirección relevante).</P><br>
        
      
        <p>Los siguientes bienes están exentos de reembolsos:</P><br>
        
        <p>  -  Tarjetas de regalo (gif cards).</P><br>
        
        <p>  -  Algunos artículos de salud y cuidado personal.</P><br>
        
        
        <p>  -  Cualquier artículo que no se encuentre en su estado original, esté dañado o falte una parte por razones que 
        no se debieron a nuestro error.</P><br>
        
        <p>  -  Cualquier artículo que se devuelva más de 30 días después de la entrega.</P><br>
          
        <p>Por favor, no devuelvas el producto al fabricante. Debe enviarse a la siguiente dirección (dirección relevante).</P><br>
        

        
        <p>Los costos de envío no son reembolsables. Si recibes un reembolso, el costo del envío de devolución se deducirá 
        de tu reembolso.</P><br>
        
        <p>Dependiendo de dónde vivas, el tiempo que tarde tu producto cambiado en llegar a ti puede variar.</P><br>
        
        <p>Por favor, nota que no podemos garantizar que recibiremos tu artículo devuelto.</P>
    </section>
    
</body>

<!-- Footer se repite en todos los templates -->   

    <footer>
        <section>
        
            <hr>
            <hr class="al">
            
            <img class="logos" src="../css/img/logofrontal.png" alt="logofrontal">
        </section>
            
            <hr class="al">
            <p class="creditos">Pañalera Carvajal © 2020 Todos los derechos reservados. <a href="Politica reembolso.html"> Politicas de retorno y privacidad</a> | Website designada por Camilo Andrés Garzón Gacharná</p>
    </footer>
        
<!-- Footer se repite en todos los templates -->   
                 
                 
         
</html>