<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/productos.css">
<head>

        <!-- Header se repite en todos los templates -->
<header>

    <img class="logos" src="/../css/img/logofrontal.png" alt="logofrontal">
        
    <hr>

    <nav>
        <ul>
            <li><a href="home.html">Principal</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Productos.html">Productos</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contactanos.html">Contactanos</a></li>
        </ul>
    </nav> 

</header>
        <!-- Header se repite en todos los templates -->

<body>

    <!-- PAÑALES -->
    
    <section class="contenido">
        <h3 id="pañal">Pañales</h3>
        <div class="cajones">
            <img class="vender" src="../productos/d.01.60500(100).jpg" alt="">
            <h5>Pañales Wynny 100 Und </h5>
            <hr class="div-cajones">
            <p class="descripcion">Pañales ultra absorbentes etapa 3 de 100 unidades el paquete</p>
            <hr class="div-cajones">
            <p class="anterior">$64.900</p>
            <hr class="div-cajones">
            <P class="actual">$60.500</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/d.02.31900(50).jpg" alt="">
            <h5>Pañales Wynny 50 Und  </h5>
            <hr class="div-cajones">
            <p class="descripcion">Pañales ultra absorbentes etapa 3 de 50 unidades el paquete</p>
            <hr class="div-cajones">
            <p class="anterior">$34.900</p>
            <hr class="div-cajones">
            <P class="actual">$31.900</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/d..03.65800.jpg" alt="">
            <h5>Pañales Huggies 100 Und </h5>
            <hr class="div-cajones">
            <p class="descripcion">Pañales Active Sec etapa 4 de 100 unidades el paquete</p>
            <hr class="div-cajones">
            <p class="anterior">$70.000</p>
            <hr class="div-cajones">
            <P class="actual">$65.800</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/d.04.18000.jpg" alt="">
            <h5>Pañales Huggies 50 Und </h5>
            <hr class="div-cajones">
            <p class="descripcion">Pañales "primera etapa" de 50 unidades el paquete. Gratis 16 toallitas humedas</p>
            <hr class="div-cajones">
            <p class="anterior">$20.000</p>
            <hr class="div-cajones">
            <P class="actual">$18.000</P>
        </div>

    </section>

    <!-- ZAPATOS -->

    <section class="contenido">
        <h3 id="calzado">Calzado</h3>
        <div class="cajones">
            <img class="vender" src="../productos/shoe.02.20000(No tuerce).jpg" alt="">
            <h5>Zapatos estilo bota </h5>
            <hr class="div-cajones">
            <p class="descripcion">Zapatos para niño estilo botin</p>
            <hr class="div-cajones">
            <p class="anterior">$24.900</p>
            <hr class="div-cajones">
            <P class="actual">$20.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/shoe.01.30000(T18A25).jpg" alt="">
            <h5>Zapatos estilo informal </h5>
            <hr class="div-cajones">
            <p class="descripcion">Zapatos para niño de talla 18 a 25</p>
            <hr class="div-cajones">
            <p class="anterior">$35.000</p>
            <hr class="div-cajones">
            <P class="actual">$30.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/shoe.03.30000.jpg" alt="">
            <h5>Zapato estilo informal </h5>
            <hr class="div-cajones">
            <p class="descripcion">Zapatos y tenis para niña de varias tallas</p>
            <hr class="div-cajones">
            <p class="anterior">$34.900</p>
            <hr class="div-cajones">
            <P class="actual">$30.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/shoe.05.30000.jpg" alt="">
            <h5>Botas Beige </h5>
            <hr class="div-cajones">
            <p class="descripcion">Botas para niño con zuela antideslizante</p>
            <hr class="div-cajones">
            <p class="anterior">$34.900</p>
            <hr class="div-cajones">
            <P class="actual">$30.000</P>
        </div>
        
        <div class="cajones">
            <img class="vender" src="../productos/shoe.04.5000(mediapatin).jpg" alt="">
            <h5>Medias estilo Patin </h5>
            <hr class="div-cajones">
            <p class="descripcion">Patines para niño y/o niña de animales</p>
            <hr class="div-cajones">
            <P class="actual">$5.000</P>
        </div>
    
        <div class="cajones">
            <img class="vender" src="../productos/shoe.06.30000.jpg" alt="">
            <h5>Botas Marron </h5>
            <hr class="div-cajones">
            <p class="descripcion">Botas para niño con zuela antideslizante</p>
            <hr class="div-cajones">
            <p class="anterior">$34.900</p>
            <hr class="div-cajones">
            <P class="actual">$30.000</P>
        </div>

    </section>

        <!-- Leche en polvo -->
    
    <section class="contenido">
        <h3 id="leche">Leche en polvo</h3>
            <div class="cajones">
                <img class="vender" src="../productos/mlk.01.28000.jpg" alt="">
                <h5>Leche en polvo 1000 gr</h5>
                <hr class="div-cajones">
                <p class="descripcion">Leche en polvo Klim con la formula Advanced protectus a partir del primer año.</p>
                <hr class="div-cajones">
                <p class="anterior">$32.000</p>
                <hr class="div-cajones">
                <P class="actual">$28.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/mlk.02.53000.jpg" alt="">
                <h5>Leche en polvo 2000 gr</h5>
                <hr class="div-cajones">
                <p class="descripcion">Leche en polvo Klim con la formula Advanced protectus a partir del primer año.</p>
                <hr class="div-cajones">
                <p class="anterior">$60.000</p>
                <hr class="div-cajones">
                <P class="actual">$53.000</P>
            </div>
    
    </section>

    <!-- Paños Humedos -->

    <section class="contenido">
        <h3>Paños humedos</h3>
        <div class="cajones">
            <img class="vender" src="../productos/ph.01.7000.jpg" alt="">
            <h5>Paños humedos Pequeñin sin alcohol </h5>
            <hr class="div-cajones">
            <p class="descripcion">Paños humedos con 110 unidades con extracto de calendula</p>
            <hr class="div-cajones">
            <p class="anterior">$9.000</p>
            <hr class="div-cajones">
            <P class="actual">$7.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ph.02.4500.jpg" alt="">
            <h5>Paños humedos Pequeñin manzanilla </h5>
            <hr class="div-cajones">
            <p class="descripcion">Paños humedos con 63 unidades con extracto y olor a manzanilla</p>
            <hr class="div-cajones">
            <P class="actual">$4.500</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ph.03.7500.jpg" alt="">
            <h5>Paños humedos Winny abullonados </h5>
            <hr class="div-cajones">
            <p class="descripcion">Paños humedos con 100 unidades sin alcohol, con extracto de aloe vera y vitamina E.</p>
            <hr class="div-cajones">
            <p class="anterior">$9.900</p>
            <hr class="div-cajones">
            <P class="actual">$7.500</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ph.04.7500.jpg" alt="">
            <h5>Paños humedos Huggies abullonados </h5>
            <hr class="div-cajones">
            <p class="descripcion">Paños humedos con 120 unidades con control de olores y fibras naturales.</p>
            <hr class="div-cajones">
            <p class="anterior">$9.900</p>
            <hr class="div-cajones">
            <P class="actual">$7.500</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ph.05.2500.jpg" alt="">
            <h5>Paños humedos Winny sin alcohol </h5>
            <hr class="div-cajones">
            <p class="descripcion">Paños humedos con 24 unidades sin alcohol, con extracto de aloe vera y vitamina E.</p>
            <hr class="div-cajones">
            <P class="actual">$2.500</P>
        </div>

    </section>

        <!-- Ayudas para tu bebe -->

    <section class="contenido">
        <h3>Ayudas para tu bebe</h3>
        

        <div class="cajones">
            <img class="vender" src="../productos/ar.03.25000.jpg" alt="">
            <h5>Toallas</h5>
            <hr class="div-cajones">
            <p class="descripcion">Toallas de diferentes tamaños 100% algodon para niño o niña.</p>
            <hr class="div-cajones">
            <p class="anterior">$29.900</p>
            <hr class="div-cajones">
            <P class="actual">$25.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ar.04.25000.jpg" alt="">
            <h5>Toallas</h5>
            <hr class="div-cajones">
            <p class="descripcion">Toallas de diferentes tamaños 100% algodon para niño o niña.</p>
            <hr class="div-cajones">
            <p class="anterior">$29.900</p>
            <hr class="div-cajones">
            <P class="actual">$25.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ar.05.15000.jpg" alt="">
            <h5>Gateadores</h5>
            <hr class="div-cajones">
            <p class="descripcion">Pantalones con rodilleras acolchadas que protegen a tu bebe.</p>
            <hr class="div-cajones">
            <p class="anterior">$18.900</p>
            <hr class="div-cajones">
            <P class="actual">$15.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ar.01.24000.jpg" alt="">
            <h5>Toallones</h5>
            <hr class="div-cajones">
            <p class="descripcion">Toallon de 1 mt por 30 cm, de doble secado 100% algodon.</p>
            <hr class="div-cajones">
            <p class="anterior">$29.000</p>
            <hr class="div-cajones">
            <P class="actual">$24.000</P>
        </div>

        <div class="cajones">
            <img class="vender" src="../productos/ar.02.8000.jpg" alt="">
            <h5>Baberos</h5>
            <hr class="div-cajones">
            <p class="descripcion">Babero 100% algodon, amigable para con tu bebe.</p>
            <hr class="div-cajones">
            <P class="actual">$8.000</P>
        </div>

    </section>  
    
     <!-- Conjuntos -->
    
    <section class="contenido">

            <h3 id="conjuntos">Conjuntos</h3>
            <div class="cajones">
                <img class="vender" src="../productos/cboy.01.35000.jpeg" alt="">
                <h5>Conjunto saco-jean niño</h5>
                <hr class="div-cajones">
                <p class="descripcion">Buso destampado defiguras y pantalon de jean.</p>
                <hr class="div-cajones">
                <p class="anterior">$38.000</p>
                <hr class="div-cajones">
                <P class="actual">$35.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/cgirl.01.30000.jpeg" alt="">
                <h5>Conjunto sudadera niña</h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon y saco de tela (2 colores) mas buso blanco.</p>
                <hr class="div-cajones">
                <p class="anterior">$38.000</p>
                <hr class="div-cajones">
                <P class="actual">$30.000</P>
            </div>

            <div class="cajones">
                <img class="vender" src="../productos/cboy.02.35000(2-4-6).jpeg" alt="">
                <h5>Conjunto buso niño</h5>
                <hr class="div-cajones">
                <p class="descripcion">Saco de tela (Varios colores) y  jean para niño.</p>
                <hr class="div-cajones">
                <p class="anterior">$38.000</p>
                <hr class="div-cajones">
                <P class="actual">$35.000</P>
            </div>

            <div class="cajones">
                <img class="vender" src="../productos/cboy.04.42000(2--16).jpeg" alt="">
                <h5>Sudadera negra niño</h5>
                <hr class="div-cajones">
                <p class="descripcion">Sudadera 100% algodon, conjunto pantalon saco con tallas entre la 2 hasta 16.</p>
                <hr class="div-cajones">
                <p class="anterior">$50.000</p>
                <hr class="div-cajones">
                <P class="actual">$42.000</P>
            </div>
            
            <div class="cajones">
                <img class="vender" src="../productos/cgirl.02.55000(4-6-8).jpeg" alt="">
                <h5>Sudadera niña</h5>
                <hr class="div-cajones">
                <p class="descripcion">Sudadera de 2 colores para niña. Tallas desde 4 hasta la 8.</p>
                <hr class="div-cajones">
                <p class="anterior">$59.900</p>
                <hr class="div-cajones">
                <P class="actual">$55.000</P>
            </div>

            <div class="cajones">
                <img class="vender" src="../productos/uni1.jpeg" alt="">
                <h5>Conjunto jean niño</h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de jean niño mas camisa formal de cuadros.</p>
                <hr class="div-cajones">
                <p class="anterior">$65.000</p>
                <hr class="div-cajones">
                <P class="actual">$62.000</P>
            </div>            

            <div class="cajones">
                <img class="vender" src="../productos/uni1.jpeg" alt="">
                <h5>Sudadera escandalosos</h5>
                <hr class="div-cajones">
                <p class="descripcion">Sudadera escandalosos color rojo.</p>
                <hr class="div-cajones">
                <p class="anterior">$NI PUTA IDEA</p>
                <hr class="div-cajones">
                <P class="actual">$NI PUTA IDEA</P>
            </div>            

            <div class="cajones">
                <img class="vender" src="../productos/Uni.02.48000(rosa-azul).jpeg" alt="">
                <h5>Vestido/Traje unisex</h5>
                <hr class="div-cajones">
                <p class="descripcion">Pantalon de color azul (Con buso) y rosa (Con franela).</p>
                <hr class="div-cajones">
                <p class="anterior">$55.000</p>
                <hr class="div-cajones">
                <P class="actual">$48.000</P>
            </div>     
            
            <div class="cajones">
                <img class="vender" src="../productos/Uni.03.42000.jpeg" alt="">
                <h5>Sudaderas</h5>
                <hr class="div-cajones">
                <p class="descripcion">Sudadera Unisex con distintos motivos y colores.</p>
                <hr class="div-cajones">
                <p class="anterior">$48.000</p>
                <hr class="div-cajones">
                <P class="actual">$42.000</P>
            </div>
            
            <div class="cajones">
                <img class="vender" src="../productos/cgirl1.jpeg" alt="">
                <h5>Vestido con saco niña</h5>
                <hr class="div-cajones">
                <p class="descripcion">Conjunto para niña. Falda floreada mas saco de tela.</p>
                <hr class="div-cajones">
                <p class="anterior">$NI PUTA IDEA</p>
                <hr class="div-cajones">
                <P class="actual">$NI PUTA IDEA</P>
            </div>
    
    </section>

    <!-- Accesorios y/o juguetes -->
    
        <section class="contenido">
            <h3 id="accesorios">Accesorios y/o juguetes</h3>
                <div class="cajones">
                    <img class="vender" src="../productos/o.01.15000.jpg" alt="">
                    <h5>Peluche de animal</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Peluches en forma de animal a base de materiales hipoalergénicos.</p>

                    <hr class="div-cajones">
                    <P class="actual">$15.000</P>
                </div>
        
                <div class="cajones">
                    <img class="vender" src="../productos/o.02.23400.jpg" alt="">
                    <h5>Chupon para biberon</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Chupon de goma para adevuar a biberon para bebes de 6 meses o mas.</p>

                    <hr class="div-cajones">
                    <P class="actual">$23.400</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.03.7000.jpg" alt="">
                    <h5>Kit aseo bucal</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Kit de aseo y juguetes correspondiente a la parte oral.</p>
                    <hr class="div-cajones">
                    <p class="anterior">$8.900</p>
                    <hr class="div-cajones">
                    <P class="actual">$7.000</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.04.12000.jpg" alt="">
                    <h5>Kit de aseo básico para niño</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Kit de implementos de aseo para bebe. Incluye cepillos, peines y elementos de aseo para uñas.</p>
                    <hr class="div-cajones">
                    <p class="anterior">$18.000</p>
                    <hr class="div-cajones">
                    <P class="actual">$12.000</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.05.12000.jpg" alt="">
                    <h5>Kit de aseo básico para niña</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Kit de implementos de aseo para bebe. Incluye cepillos, peines y elementos de aseo para uñas.</p>
                    <hr class="div-cajones">
                    <p class="anterior">$18.000</p>
                    <hr class="div-cajones">
                    <P class="actual">$12.000</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.06.7000.jpg" alt="">
                    <h5>Chupon-Juguete</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Juguete estilo sonajero con chupon incorporado.</p>
                    <hr class="div-cajones">
                    <p class="anterior">$9.000</p>
                    <hr class="div-cajones">
                    <P class="actual">$7.00</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.07.7500.jpg" alt="">
                    <h5>Recipientes unisex</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Leche en polvo Klim con la formula Advanced protectus a partir del primer año.</p>
                    <hr class="div-cajones">
                    <p class="anterior">$9.000</p>
                    <hr class="div-cajones">
                    <P class="actual">$7.500</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.08.12000.jpg" alt="">
                    <h5>Cucharas</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Set de 2 cucharas ergonómicas para papilla u otros alimentos sólidos.</p>
                    <hr class="div-cajones">
                    <p class="anterior">$15.000</p>
                    <hr class="div-cajones">
                    <P class="actual">$12.000</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.09.6000.jpg" alt="">
                    <h5>Cucharones</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Set de 2 cucharones para papilla u otros alimentos sólidos.</p>

                    <hr class="div-cajones">
                    <P class="actual">$6.000</P>
                </div>

                <div class="cajones">
                    <img class="vender" src="../productos/o.10.13800.jpg" alt="">
                    <h5>Baso para niña</h5>
                    <hr class="div-cajones">
                    <p class="descripcion">Baso con tapa y cubiertos para bebidas y/o alimentos.</p>
                    <hr class="div-cajones">
                    <p class="anterior">$15.000</p>
                    <hr class="div-cajones">
                    <P class="actual">$13.800</P>
                </div>
        
        </section>

            <!-- Busos y Sacos -->
    
    <section class="contenido">
        <h3>Busos y Sacos</h3>
            <div class="cajones">
                <img class="vender" src="../productos/tsboy.01.15000.jpeg" alt="">
                <h5>Camisa Polo</h5>
                <hr class="div-cajones">
                <p class="descripcion">Camisa polo a rayas (De varios colores a escoger).</p>
                <hr class="div-cajones">
                <p class="anterior">$19.500</p>
                <hr class="div-cajones">
                <P class="actual">$15.000</P>
            </div>
    
            <div class="cajones">
                <img class="vender" src="../productos/tsboy.03.25000.jpeg" alt="">
                <h5>Camisa de jean</h5>
                <hr class="div-cajones">
                <p class="descripcion">Camisa de jean para niño manga larga.</p>

                <hr class="div-cajones">
                <P class="actual">$25.000</P>
            </div>

            <div class="cajones">
                <img class="vender" src="../productos/tsboy.02.40000.jpeg" alt="">
                <h5>Buso niño</h5>
                <hr class="div-cajones">
                <p class="descripcion">Buso naranja con gorro y bolsillo frontal.</p>
                <hr class="div-cajones">
                <p class="anterior">$45.000</p>
                <hr class="div-cajones">
                <P class="actual">$40.000</P>
            </div>

            <div class="cajones">
                <img class="vender" src="../productos/tsboy.04.30000.jpeg" alt="">
                <h5>Buso niño</h5>
                <hr class="div-cajones">
                <p class="descripcion">Buso rojo con gorro y bolsillo frontal.</p>
                <hr class="div-cajones">
                <p class="anterior">$35.000</p>
                <hr class="div-cajones">
                <P class="actual">$30.000</P>
            </div>

            <div class="cajones">
                <img class="vender" src="../productos/tsboy.05.28000.jpeg" alt="">
                <h5>Camisa de rayas</h5>
                <hr class="div-cajones">
                <p class="descripcion">Camisa mangalarga a rayas con bolsillo frontal.</p>
                <hr class="div-cajones">
                <p class="anterior">$35.000</p>
                <hr class="div-cajones">
                <P class="actual">$28.000</P>
            </div>
    
    </section>

</body>

         <!-- Footer se repite en todos los templates -->   

<footer>
    <section>

        <hr>
        <hr class="al">
    
            <img class="logos" src="../css/img/logofrontal.png" alt="logofrontal">
    </section>
    
    <hr class="al">
    <p class="creditos">Pañalera Carvajal © 2020 Todos los derechos reservados. <a href="Politica reembolso.html"> Politicas de retorno y privacidad</a> | Website designada por Camilo Andrés Garzón Gacharná</p>
</footer>

         <!-- Footer se repite en todos los templates -->   
         
</html>