<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <title>Header</title>
</head>

<header>
    <img class="logos" src="../../css/img/logofrontal.png" alt="logofrontal">
        
    <hr>

    <nav>
        <ul>
            <li><a href="http://google.com">Principal</a></li>
            <li><a href="http://google.com">Nosotros</a></li>
            <li><a href="http://google.com">Productos</a></li>
            <li><a href="http://google.com">Blog</a></li>
            <li><a href="http://google.com">Contactanos</a></li>
        </ul>
    </nav> 
</header>

</html>